body{
    background-color: rgba(4, 109, 51, 0.952);
}


.container{
    max-width: 640px;
    width: auto;
    height: auto;
    background-color: white;
    margin-top: 20px;
    margin-left: 360px;
    display: block;

}

h1{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 160px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(133, 46, 5)

}

p{
    text-align: center;
    justify-content: center;
    
}

.itens{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;

}

ul{
    list-style-type: none;
    
}

li{
    list-style-type: "\2794"; /* o código está entre aspas */
}

.texto{
    color: rgb(3, 13, 156);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    font-size: 16px;
   

}
