.conteudo{
	border:  1px solid red;
	/*padding-top:  20px;
	padding-right:  20px;
	pading-bottom:  20px;
	padding-left:  20px;*/
	padding:  20px;


	/*margin-top: 20px;
	margin-right:  20x;
	margin-left:  20px;
	margin-bottom: 20x;*/

	margin:  10px;

	width:  150px;
}


#noticia{
	background: blue;
	padding:  10px;

}

h2{
	border: 1px solid white;
	
}