.container{
    background-color: black;
    width: 480px;
    height: 240px;
    float: left;
    margin: 10px 450px;
}

.title{
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.counter{
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


.buttons{
    text-align: center;
    font-size: xx-large;

}

